# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Evaluation outputs
/evaluation/results.json

# Node modules
node_modules/
